/* NAVBAR
-------------------------------------------------- */

.navbar {
  margin-bottom: 0;
}

.avg_logo {
  width: 33px;
  max-height: 100%;
  border-radius: 50%;
}

/* CUSTOMIZED CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 240px;
  margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 240px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 240px;
}

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}

/* MARKETING
-------------------------------------------------- */

.marketing {
  margin: 60px auto;
}

.marketing .col-md-4 {
  text-align: center;
  font-size: 16px;
}

.marketing .col-md-4 .glyphicon {
  font-size: 60px;
  background-color: #EAEAEA;
  border-radius: 50%;
  padding: 40px;
  color: #444;
}


.cont {
  background-color: #777;
}

.cont .col-md-4 {
  text-align: center;
  font-size: 16px;
  color: white;
  padding: 40px;
}

.cont .col-md-4 .glyphicon{
  font-size: 60px;
  background-color: #EAEAEA;
  border-radius: 50%;
  padding: 40px;
  color: #444;
}

.cont .email-desc {
  color: black;
  text-align: left;
}

/* Pictures
-------------------------------------------------- */

.thumbnail {
  border: none;
  position: relative;
  height: 200px;
  width: 200px;
}

.imgage {
  display: block;
  opacity: 1;
}

.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.img-text {
  color: white;
  font-weight: 800;
  font-family: fantasy;
  font-size: 20px;
  padding: auto 16px;
  border-radius: 50%;
}

.thumbnail:hover .image {
  opacity: 0.75;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px black;
  transition: 0.7s ease;
  transition-timing-function: cubic-bezier(0.1, 2.0, 0.5, 0.1);
}

.thumbnail:hover .middle {
  opacity: 1;
}

/* STICKY FOOTER
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding top for navbar static */
  padding-top: 25px;
  /* Margin bottom by footer height */
  margin-bottom: 160px;
}

.footer,
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 160px;
  background: #444;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 40px 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
